.popular-city {
  max-width: 1150px;
  margin: auto;
}
.texts {
  width: 500px;
  height: 222px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}
.pop-text-theme {
  font-size: 30px;
  color: #1d226c;
  font-size: 600;
  line-height: 1.35;
}
.pop-text {
  font-size: 15px;
  margin: 15px 7px;
}
