.card-profile {
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
    height: 550px;
    background-color: white;
   }
   .image-profile {
    width: 80px;
    height: 60px;
    margin-left: 140px;
    margin-top: 40px;
    border-radius: 100px;
   }
   .theme {
       color: #1d226c;
       margin-bottom: 25px;
   }
   .a-profile {
       text-decoration: none;
   }
   .lt {
       margin-top: 50px;
       font-size: 14px;
   }
   .ltt {
       font-size: 14px;
       margin-top: 30px;
       margin-bottom: 30px;
   }