/* .img-two-cyties {
  padding-top: 2.8rem;
  padding-bottom: 2rem;
  width: 72rem;
} */
.img-two-cityes {
  max-width: 1150px;
  margin: auto;
}
.text-theme {
  font-size: 20px;
  color: rgb(44, 23, 138);
}
.two-img {
  width: 34.1rem;
  transform: scale(1.01);
  color: gainsboro;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.two-cities {
  margin-top: -300px;
  color: rgb(44, 23, 138);
  text-align: center;
}
