.card-profile {
  margin: 0 auto;
  margin-top: 70px;
  width: 400px;
  height: 550px;
  background-color: white;
}
.image-profile {
  width: 50px;
  height: 50px;
  margin-left: 140px;
  margin-top: 40px;
  border-radius: 100px;
}
.theme {
  color: #1d226c;
  margin-bottom: 25px;
}
.text-profile {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.last-text-profile {
  margin-top: 30px;
  font-size: 14px;
}
.a-profile {
  text-decoration: none;
}
.userCards {
  max-width: 1150px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.userListingText {
  color: #1d226c;
}
.userListingBox {
  margin: auto;
  max-width: 1150px;
}
