.main-div {
  background-image: url("https://tinyhouse-blacksonic.herokuapp.com/static/media/map-background.c8201cdd.jpg");
  margin-top: 70px;
  max-width: 1349px;
  margin: auto;
}

.div1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1150px;
  margin: auto;
}

h1 {
  margin-bottom: 200px;
  margin-left: 15px;
  color: #1d226c;
}

.containerSearch {
  width: 660px;
  height: 40px;
  margin-bottom: 30px;
  margin-left: 13px;
  display: flex;
}

.imgSearch {
  width: 50px;
  height: 25px;
  margin-bottom: 10px;
}

.imgCityes {
  width: 15.5rem;
  height: 20rem;
  margin-top: 10px;
}
.parentbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box{
  opacity: 0.8;
  transition: opacity 1s;
}
.box:hover{
  opacity: 1;
  transition: opacity 1s;
}
.imgText {
  font-family: "Times New Roman", Times, serif;
  margin-top: -35px;
  margin-left: 16px;
  color: lemonchiffon;
  font-size: 16px;
  font-weight: 900;
}
